environment:
  matrix:
    - nodejs_version: "8"

cache:
  - "%LOCALAPPDATA%\\Yarn"
  - node_modules

install:
  - ps: Install-Product node $env:nodejs_version
  - yarn install

test_script:
  - node --version
  - yarn --version
  - yarn test

build: off
skip_branch_with_pr: true